@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button {
background: #474700;
background: linear-gradient(10deg, rgba(71, 71, 0, 1) 0%, rgba(211, 255, 115, 1) 100%);
  color: #fff;
  border: none;
  padding: 0px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: lighter;
  text-align: center;
}

section {
  padding: 0px 10px;
}

/* mobile screen */
@media (max-width: 768px) {
  .button {
    padding: 0px 20px;
    font-size: 14px;
  }
  
  section {
    padding: 0px 10px;
  }
} 